name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: pip install tox tox-gh-actions
      - name: Tests
        run: tox
      - name: Set up Python 3.9
        # A recent version of coveralls is required for Github
        # Actions support, which is only available for python3
        if: matrix.python-version == '2.7'
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Coveralls for Python 2.7 or 3.5
        if: matrix.python-version == '2.7' || matrix.python-version == '3.5'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: python-${{ matrix.python-version }}
          COVERALLS_PARALLEL: true
        run: |
          pip3 install coveralls
          coveralls --rcfile=.coveragerc2.7and3.5
      - name: Coveralls
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: python-${{ matrix.python-version }}
          COVERALLS_PARALLEL: true
        run: |
          pip3 install coveralls
          coveralls
  coveralls:
    # Notify coveralls that the built has finished so they can
    # combine the results and post a comment with the summary.
    name: coverage push
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Finished
        run: |
          pip3 install coveralls
          coveralls --finish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docs:
    # Build docs separately to make visualise documentation
    # problems separably in the PR overview
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: pip install tox
      - name: Check docs
        run: tox -e docs